<div class="container mt-5">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="fullname" class="form-label">Nombres:</label>
            <input type="text" class="form-control" id="fullname" formControlName="fullname">
        </div>
        <div class="mb-3">
            <label for="lastname" class="form-label">Apellidos:</label>
            <input type="text" class="form-control" id="lastname" formControlName="lastname">
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Usuario:</label>
            <input type="text" class="form-control" id="username" formControlName="username">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico:</label>
            <input type="email" class="form-control" id="email" formControlName="email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña:</label>
            <input type="password" class="form-control" id="password" formControlName="password">
        </div>
        <div class="mb-3">
            <label for="date" class="form-label">Fecha de nacimiento:</label>
            <input type="date" class="form-control" id="date" formControlName="date">
        </div>
        <div class="mb-3">
            <label for="cdi" class="form-label">Identificación:</label>
            <input type="text" class="form-control" id="cdi" formControlName="cdi">
        </div>

        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
</div>