<!-- Button trigger modal -->
<div *ngIf="dataUser">
    <h2>Listado de personas</h2>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Usuario</th>
                <th>Correo</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Identificacion</th>
                <th>Estado</th>
                <th>Fecha de nacimiento</th>
                <th>Sesion Activa</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of dataUser">
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.person?.fullname }}</td>
                <td>{{ user.person?.lastname }}</td>
                <td>{{ user.person?.cdi }}</td>
                <td>{{ user.person?.birthday }}</td>
                <td>{{ user.status }}</td>
                <td>{{ user.sessionActive }}</td>
                <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        (click)="clickOpenModal(user.id);">
                        Agregar Permiso
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Asignar roles</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="registerForm">
                    <select class="form-select" id="rolid" formControlName="rolid">
                        <option selected value="0" disabled>Seleccione un rol disponible</option>
                        <option *ngFor="let rol of dataRols" value="{{ rol.id }}">
                            {{ rol.name }}
                        </option>
                    </select>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="clickSaveRolUser();">Guardar rol</button>
            </div>
        </div>
    </div>
</div>