<div *ngIf="rolesData">
    <h2>Listado de Roles</h2>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Rol</th>
                <th>Permisos</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let role of rolesData">
                <td>{{ role.name }}</td>
                <td>
                    <ul>
                        <li *ngFor="let permission of role.rols">
                            {{ permission.name }}
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>