<nav class="navbar navbar-expand-md navbar-dark bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Bootstrap" width="30"
                height="24">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="home" routerLinkActive="active">Home</a>
                </li>
                <li *ngIf="authService.isAuthenticated() && authService.isAmdin" class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="person">Listado de personas</a>
                </li>
            </ul>
            <button *ngIf="authService.isAuthenticated()" (click)="btnLogout();" class="btn btn-danger">
                Cerrar session
            </button>
            <button *ngIf="!authService.isAuthenticated()" (click)="btnLogin();" class="btn btn-danger">
                Iniciar session
            </button>
            <button *ngIf="!authService.isAuthenticated()" (click)="btnRegister();" class="btn btn-success">
                Registrar usuario
            </button>
        </div>
    </div>
</nav>