<div class="text-center">
    <main class="form-signin w-50 m-auto">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <img class="mb-4" src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72"
                height="57">
            <h1 class="h3 mb-3 fw-normal">Inicio de sessión</h1>
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="Ejm. admin"
                    formControlName="username">
                <label for="floatingInput">Usuario</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Ejm. admin"
                    formControlName="password">
                <label for="floatingPassword">Contraseña</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
        </form>
    </main>
</div>